body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    z-index: 1000;
}

.home-section {
    background: url('img/bg.jpg') no-repeat center center/cover;
    color: #372b5d;
    height: 100vh;
    padding-top: 80px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hello-note {
    animation: fade-in 3s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.profession {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.animated-text {
    display: inline-block;
    animation: slide-in 3s ease alternate;
    color: #12f3e0;
    font-weight: bold;
}

.description {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #372b5d;
    animation: fade-up 3s ease-in-out;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.about-section {
    background: rgb(127, 173, 205);
    padding: 150px 0;
    min-height: 100vh;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #372b5d;
    margin-bottom: 30px;
}

.about-content {
    max-width: 80%;
    margin: 0 auto;
}

.about-text {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #047914;
}

.education-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #372b5d;
    margin-top: 40px;
    margin-bottom: 20px;
}

.education-content{
    padding: 0;
    font-size: 1.1rem;
    color: #077916;
}

.about-image {
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: auto;
    display: block;
}


.skills-section {
    background:rgb(231, 229, 181);
    padding: 150px 0;
    min-height: 100vh;
}

.skill {
    margin-bottom: 30px;
    color: rgb(75, 108, 108);
}

.skill h4 {
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(6, 89, 89);
}

.progress {
    height: 25px;
    background-color: #e9ecef;
    border-radius: 5px;
}

.progress-bar {
    background-color: #007bff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
}

.project-section {
    background: rgb(228, 179, 179);
    color: #372b5d;
    padding: 80px 0;
    min-height: 100vh;
}

.card {
    background-color: rgba(67, 40, 40, 0.9);
    border: none;
}

.card-title {
    font-weight: bold;
    color: #a7e2b6;
}

.card-text {
    color: #c7b5b5;
}

.contact-section {
    background: rgb(179, 243, 198);
    padding: 100px 0;
}

.contact-section h2 {
    font-size: 3rem;
    font-weight: bold;
    color:#372b5d;
    margin-bottom: 50px;
}

.contact-section form {
    max-width: 600px;
    margin: 0 auto;
    background-color: white; 
    padding: 30px;
    border-radius: 10px;
}

.contact-section form label {
    font-weight: bold;
    color: #506078;
}

.contact-section form input[type="text"],
.contact-section form input[type="email"],
.contact-section form textarea {
    margin-bottom: 20px;
    border: none;
    background-color: #e3baba;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

.contact-section form textarea {
    height: 150px;
}

.contact-section form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-section form button:hover {
    background-color: #020509;
}


@media (max-width: 767.98px) {
    .home-section {
        padding-top: 60px;
    }

    .about-section {
        padding: 80px 0;
    }

    .about-section .row {
        flex-direction: column-reverse;
    }

    .about-image {
        margin-top: 20px;
    }

    .section-title {
        font-size: 2rem;
    }

    .education-title {
        font-size: 1.5rem;
    }

    .about-content {
        max-width: 100%;
        padding: 0 15px;
    }


    .project-section {
        padding: 60px 0;
    }

    .contact-section {
        padding: 80px 0;
    }

    .contact-section h2 {
        font-size: 2.5rem;
        margin-bottom: 30px;
    }

    .contact-section form {
        padding: 20px;
    }

    .skills-section{
        padding: 60px 0;
    }
}

footer {
    background: #333;
    color: #fff;
    padding: 1em 0;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icon {
    font-size: 24px;
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #236ccb;
}

